:root {
    --secondary-background: #eeeeee;
}

/* navbar styling */

.navbar {
    width: 90%;
    padding: 20px 30px;
}

/* navbar links */

.nav-links {
    gap: 2.2rem;
}

/* navbar search */

.searchbar {
    display: flex;
    flex: 0 1 350px;
}

.input-icon .material-icons {
    top: 5px;
    left: 10px;
}

.input-icon .input {
    margin: 0;
    border-radius: 4px;
    font-size: medium;
    padding-left: 40px;
}

.input-icon .input:focus {
    border: 1px solid var(--primary-color);
}

/* navbar button */

.btn {
    border-radius: 0;
    margin: 0;
    padding: 7px 25px;
    font-weight: 400;
}

/* navbar badges */

.badge .material-icons-outlined {
    display: flex;
    align-items: center;
}

.badge .number {
    top: -25%;
    right: -25%;
}

/* navbar styling end */

/* main login content */

main {
    height: calc(100vh - 76px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background);
}

.login-container {
    padding: 2rem 4rem;
    border-radius: 5px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 5px 4px var(--secondary-color);
}

h1 {
    text-align: center;
}

.input-container .input {
    margin: 0;
    padding: 4px;
    width: 300px;
    font-size: medium;
}

.input-container label {
    margin: 20px 0 0 0;
    font-weight: 500;
}

.input-container {
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: 18px;
    height: 18px;
}

.checkbox label {
    font-size: .9rem;
    font-weight: 500;
}

.password-options {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
}

.password-options a {
    color: var(--primary-style-color);
}

form .btn-primary {
    margin: 0;
    width: 100%;
    margin-top: 15px;
}

form a {
    font-weight: 500;
}

.signup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/* main login content end  */

/* main signup content */

.agreement-options {
    margin-top: 15px;
}